cisco-box/cisco-spark-box/src/main/app/box-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
   
    <flow name="postAuthDetailsFlow">
       <dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        <logger message="******************************* sdscsa ******************" level="INFO" doc:name="Logger"/>
        <enricher target="#[flowVars.postTokenResponse]" doc:name="Message Enricher">
            <flow-ref name="postboxTokenFlow" doc:name="Post box Token Flow"/>
        </enricher>
        <dw:transform-message doc:name="Build Post Auth Details Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostAuthDetailsResponse.dwl"/>
        </dw:transform-message>
    </flow>

	<flow name="postFormatMessageFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="mess"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <enricher target="#[flowVars.messageResp]" doc:name="Message Enricher">
            <flow-ref name="postmessage" doc:name=""/>
        </enricher>
        <logger message="#[flowVars.messageResp]" level="INFO" doc:name="Logger"/>
    </flow>
        
    <flow name="postIntegrationSettingsFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-variable variableName="setupInput"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[flowVars.setupInput.userId]   #[flowVars.setupInput.integrationId]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="userid" value="#[flowVars.setupInput.userId]" doc:name="userid"/>
        <set-variable variableName="integrationId" value="#[flowVars.setupInput.integrationId]" doc:name="integrationId"/>
        <enricher target="#[flowVars.accesstoken]" doc:name="Message Enricher">
            <flow-ref name="box-getaccesstokenFlow" doc:name="box-getaccesstokenFlow"/>
        </enricher>
        <logger message="#[flowVars.accesstoken] " level="INFO" doc:name="Logger"/>
        <set-variable variableName="token" value="#[flowVars.accesstoken]" doc:name="Variable"/>
        <enricher target="#[flowVars.userResponse]" doc:name="Message Enricher">
            <flow-ref name="getboxUserFlow" doc:name="Get box User Flow"/>
        </enricher>
        <set-variable variableName="user" value="#[flowVars.userResponse.username]" doc:name="Set box User"/>
        <enricher target="#[flowVars.repositoriesResponse]" doc:name="Message Enricher">
            <flow-ref name="getboxRepositoriesFlow" doc:name="Get box Repositories Flow"/>
        </enricher>
        <dw:transform-message doc:name="Build Get Integration Settings Response">
            <dw:set-payload resource="classpath:dwScripts/buildGetIntegrationSettingsResponse.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="box-getaccesstokenFlow">
        <logger level="INFO" doc:name="Logger" message="before run time#[flowVars.userid] #[flowVars.integrationId]"/>
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens" method="GET" host="${integrations.runtime.host}" port="${integrations.runtime.port}" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="userId" value="#[flowVars.userid]"/>
                <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>
                <http:uri-param paramName="integrationId" value="#[flowVars.integrationId]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload[0].accessToken]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="setupIntegrationFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload.userId]   #[payload.integrationId]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="userId" value="#[payload.userId] " doc:name="Variable"/>
        <set-variable variableName="integrationId" value="#[payload.integrationId]" doc:name="Variable"/>
        <enricher target="#[flowVars.accesstoken]" doc:name="Message Enricher">
            <flow-ref name="box-getaccesstokenFlow" doc:name=""/>
        </enricher>
        <set-variable variableName="token" value="#[flowVars.accesstoken]" doc:name="Variable"/>
        <enricher target="#[flowVars.webhookResponse]" doc:name="Message Enricher">
            <flow-ref name="postboxHookFlow" doc:name="Post box Hook Flow"/>
        </enricher>
        <logger message="#[flowVars.webhookResponse]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"webhookDetails":flowVars.webhookResponse
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="tearDownIntegrationFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        <enricher target="#[flowVars.response]" doc:name="Message Enricher">
            <flow-ref name="deleteboxHookFlow" doc:name="Delete box Hook Flow"/>
        </enricher>
        <dw:transform-message doc:name="Build Tear Down Integration Response">
            <dw:set-payload resource="classpath:dwScripts/buildTearDownIntegrationResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="healthCheckFlow">
        <dw:transform-message doc:name="Build Health Check Response">
            <dw:set-payload resource="classpath:dwScripts/buildHealthCheckResponse.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="Listbranches">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="listBranchesForRepositories" doc:name=""/>
    </flow>
</mule>
