cisco-box/workspaceproject/cisco-spark-box-integration/src/main/app/box-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
   
    <flow name="postAuthDetailsFlow">
       <dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
        <enricher target="#[flowVars.postTokenResponse]" doc:name="Message Enricher">
            <flow-ref name="postboxTokenFlow" doc:name="Post box Token Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Post Auth Details Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostAuthDetailsResponse.dwl"/>
        </dw:transform-message>
    </flow>

	<flow name="postFormatMessageFlow">
        <dw:transform-message doc:name="Build Post Format Message Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostFormatMessageResponse.dwl"/>
        </dw:transform-message>
    </flow>

    <flow name="postIntegrationSettingsFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
        <flow-ref name="getRuntimeAccessTokenFlow" doc:name="Get Runtime Access Token Flow Reference"/>
        
        <enricher target="#[flowVars.userResponse]" doc:name="Message Enricher">
            <flow-ref name="getboxUserFlow" doc:name="Get box User Flow"/>
        </enricher>
        
        <set-variable variableName="user" value="#[flowVars.userResponse.username]" doc:name="Set box User"/>
        
        <enricher target="#[flowVars.repositoriesResponse]" doc:name="Message Enricher">
            <flow-ref name="getboxRepositoriesFlow" doc:name="Get box Repositories Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Get Integration Settings Response">
            <dw:set-payload resource="classpath:dwScripts/buildGetIntegrationSettingsResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="setupIntegrationFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
       	<flow-ref name="getRuntimeAccessTokenFlow" doc:name="Get Runtime Access Token Flow Reference"/>
       	
        <flow-ref name="setboxVariablesFlow" doc:name="Set box Variables Flow Reference"/>
       
        <dw:transform-message doc:name="Build Post box Hook Body">
            <dw:set-variable resource="classpath:dwScripts/buildPostboxHookBody.dwl" variableName="hookPostBody"/>
        </dw:transform-message>
        
        <enricher target="#[flowVars.postHookResponse]" doc:name="Message Enricher">
            <flow-ref name="postboxHookFlow" doc:name="Post box Hook Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Setup Integration Response">
            <dw:set-payload resource="classpath:dwScripts/buildSetupIntegrationResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="tearDownIntegrationFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
        <flow-ref name="getRuntimeAccessTokenFlow" doc:name="Get Runtime Access Token Flow Reference"/>
        
        <flow-ref name="setboxVariablesFlow" doc:name="Set box Variables Flow Reference"/>
        
        <enricher target="#[flowVars.deleteHookResponse]" doc:name="Message Enricher">
            <flow-ref name="deleteboxHookFlow" doc:name="Delete box Hook Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Tear Down Integration Response">
            <dw:set-payload resource="classpath:dwScripts/buildTearDownIntegrationResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="updateIntegrationFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
       <flow-ref name="getRuntimeAccessTokenFlow" doc:name="Get Runtime Access Token Flow Reference"/>
        
        <flow-ref name="setboxVariablesFlow" doc:name="Set box Variables Flow Reference"/>
        
        <dw:transform-message doc:name="Build Put box Hook Body">
            <dw:set-variable resource="classpath:dwScripts/buildPutboxHookBody.dwl" variableName="hookPutBody"/>
        </dw:transform-message>
        
        <enricher target="#[flowVars.putHookResponse]" doc:name="Message Enricher">
            <flow-ref name="putboxHookFlow" doc:name="Put box Hook Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Update Integration Response">
            <dw:set-payload resource="classpath:dwScripts/buildUpdateIntegrationResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="getRuntimeAccessTokenFlow">
    	<set-variable variableName="userId" value="#[payload.userId]" doc:name="Set User ID"/>
        
        <set-variable variableName="integrationId" value="#[payload.integrationId]" doc:name="Set Integration ID"/>
        
        <enricher target="#[flowVars.getTokenResponse]" doc:name="Message Enricher">
            <flow-ref name="getIntegrationTokenFlow" doc:name="Get Integration Token Flow Reference"/>
        </enricher>
        
        <set-variable variableName="token" value="#[flowVars.getTokenResponse.accessToken]" doc:name="Set box Token"/>
    </flow>
    
    <flow name="setboxVariablesFlow">
        <set-variable variableName="user" value="#[payload.configJson.userName]" doc:name="Set User"/>
        <set-variable variableName="repository" value="#[payload.configJson.repositoryName]" doc:name="Set Repository"/>
        <set-variable variableName="hookId" value="#[payload.configJson.hookId]" doc:name="Set Hook ID"/>
        <set-variable variableName="notificationUrl" value="#['http://183.82.99.100:8844/hooks/spark/box/' + payload.instanceId]" doc:name="Set Notification Url"/>
    </flow>
    
    <flow name="healthCheckFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
        <flow-ref name="getRuntimeAccessTokenFlow" doc:name="Get Runtime Access Token Flow Reference"/>
        
        <flow-ref name="setboxVariablesFlow" doc:name="Set box Variables Flow Reference"/>
        
        <enricher target="#[flowVars.getHookResponse]" doc:name="Message Enricher">
            <flow-ref name="getboxHookFlow" doc:name="Get box Hook Flow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Health Check Response">
            <dw:set-payload resource="classpath:dwScripts/buildHealthCheckResponse.dwl"/>
        </dw:transform-message>
    </flow>

</mule>
